<table border="0" cellspacing="0" cellpadding="0" width="600" style="margin:0 auto; text-align:left; font-family: Arial;">
  <tbody>
   <tr align="center">
	<td colspan="3"><p style="font-size: 12px; color: #666;">To see the content of this e-mail, click on display images above.</p></td>
   </tr>
   <tr align="center">
    <td colspan="3" width="600" bgcolor="#FFEFD5" background="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/mailer-bg.jpg" style="background-repeat: repeat;">
      <table border="0" cellspacing="10" cellpadding="0" width="580" style="margin:0 auto; text-align:left; font-family: Arial;">
      <tbody>
	   <tr>
		<td width="192">&nbsp;</td>
		<td width="192">&nbsp;</td>
		<td width="192">&nbsp;</td>
	   </tr>
	   <tr>
	     <td width="192" align="right" valign="bottom"><a href="http://styletag.com/user/sign_in" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/styletag-logo.png" alt="styletag" width="250" border="0"></a></td>
	     <td colspan="2">&nbsp;</td>
	   </tr>
	   <tr>
	    <td colspan="3"><a href="http://styletag.com/user/sign_in" style="color: #000; text-decoration: none;" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/sprite_menu_FINAL_test-trans.png" alt="menu" /></a></td>
	   </tr>
	   <tr align="center">
	    <td colspan="3" align="center">
	      <table cellpadding="10" cellspacing="0" border="0" width="580" style="background-color:#ffffff; font-family: Arial;">
			<tbody>
			  <tr>
			   <td colspan="3">
				<table width="556" border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td colspan="3" height="117" align="center" vertical-align="baseline">
								<a href="http://styletag.com/user/sign_in" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/JC-mailer.jpg" width="556" height="117" alt="jewels couture" /></a>
							</td>
						</tr>
						<tr>
							<td colspan="2" vertical-align="baseline" align="left">
								<span>JEWELS COUTURE - JEWELLERY</span>
							</td>
							<td vertical-align="baseline" align="right">
								<a href="http://styletag.com/user/sign_in" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/buy-now.png" width="115" height="31" alt="buy now" /></a>
							</td>
						</tr>
					</tbody>
				</table>
			   </td>
			  </tr>
			  <tr align="center">
				<td colspan="3" align="center" vertical-align="top">
				 <p style="margin: 0px; padding: 0px; text-align: left;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #666; text-decoration: none; font-size: 12px;">
				   Jewellery that you will fall in love with as soon as you see it. Make your blue jeans and white t-shirt look classy when you wear these neckpieces and add wonder to your little black dress for the glam chic look.
				 </a></p>
			    </td>
			  </tr>
			  <tr>
			   <td colspan="3">
				<table width="556" border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td colspan="3" height="117" align="center" vertical-align="baseline">
								<a href="http://styletag.com/user/sign_in" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/RC-mailer.jpg" width="556" height="117" alt="richa chaudhary" /></a>
							</td>
						</tr>
						<tr>
							<td colspan="2" vertical-align="baseline" align="left">
								<span>RICHA CHAUDHARY - APPAREL</span>
							</td>
							<td vertical-align="baseline" align="right">
								<a href="http://styletag.com/user/sign_in" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/buy-now.png" width="115" height="31" alt="buy now" /></a>
							</td>
						</tr>
					</tbody>
				</table>
			   </td>
			  </tr>
			  <tr align="center">
				<td colspan="3" align="center" vertical-align="top">
				 <p style="margin: 0px; padding: 0px; text-align: left;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #666; text-decoration: none; font-size: 12px;">
				   Inspired by Indian silhouettes and saree patterns Richa Chaudhary believes in creating wearable yet aesthetically pleasing designs. Free flowing to structured jersey drape gowns her collection speaks sheer elegance and sophistication.
				 </a></p>
			    </td>
			  </tr>
			  
			<!-- <tr>
				<td width="192" bgcolor="#fff" align="right">
					<a href="http://styletag.com/user/sign_in" target="_blank">
						<img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/dhruva_sale.jpg" alt="dhruva" width="172" height="172" />
					</a>
					<p style="margin: 0px; padding: 0px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #666; text-decoration: none; font-size: 12px;">DHRUVA - BAGS</a></p>
				</td>
				<td width="192" bgcolor="#fff" align="right">
					<a href="http://styletag.com/user/sign_in" target="_blank">
						<img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/cheap_sex_sale.jpg" alt="cheap sex" width="172" height="172" />
					</a>
					<p style="margin: 0px; padding: 0px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #666; text-decoration: none; font-size: 12px;">CHEAP SEX - KNICK KNACKS</a></p>
				</td>
				<td width="192" bgcolor="#fff" align="right">
					<a href="http://styletag.com/user/sign_in" target="_blank">
						<img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/Manvi_sale.jpg" alt="manvi" width="172" height="172" />
					</a>
					<p style="margin: 0px; padding: 0px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #666; text-decoration: none; font-size: 12px;">MANVI - APPAREL</a></p>
				</td>
			  </tr>
			  -->
			  <tr>
			   <td colspan="3">
				<table width="556" border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td>
								<a href="http://styletag.com/user/sign_in" target="_blank">
									<img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/free-shipping1.jpg" alt="freeshipping" width="268" height="173" />
								</a>
							</td>
							<td>
								<a href="http://styletag.com/user/sign_in" target="_blank">
									<img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/invite-btn2.png" alt="invite" width="268" height="183" />
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			   </td>
			  </tr>
			  <tr>
			   <td colspan="3" align="left">
					<hr />
					<h4 style="color:#CC0000;">YOU CAN ALSO BUY...</h4>
					<hr />
				</td>
			  </tr>
			  			  <tr>
				<td width="192" bgcolor="#fff" align="right">
					<a href="http://styletag.com/user/sign_in" target="_blank">
						<img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/avni_sale.jpg" alt="avni" width="172" height="172" />
					</a>					
					<p style="margin: 0px; padding-top: 5px; padding-bottom: 5px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #c91924; text-decoration: none; font-size: 12px;">UPTO 40% OFF</a></p>
					<p style="margin: 0px; padding: 0px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #666; text-decoration: none; font-size: 12px;">AVNI - APPAREL</a></p>
				</td>
				<td width="192" bgcolor="#fff" align="right">
					<a href="http://styletag.com/user/sign_in" target="_blank">
						<img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/gaurav_gupta_sale.jpg" alt="gaurav gupta" width="172" height="172" />
					</a>
					<p style="margin: 0px; padding-top: 5px; padding-bottom: 5px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #c91924; text-decoration: none; font-size: 12px;">SAVE UPTO RS. 25000/-</a></p>
					<p style="margin: 0px; padding: 0px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #666; text-decoration: none; font-size: 12px;">GAURAV GUPTA - APPAREL</a></p>
				</td>
				<td width="192" bgcolor="#fff" align="right">
					<a href="http://styletag.com/user/sign_in" target="_blank">
						<img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/plum_tree_sale.jpg" alt="plum tree" width="172" height="172" />
					</a>
					<p style="margin: 0px; padding-top: 5px; padding-bottom: 5px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #c91924; text-decoration: none; font-size: 12px;">FLAT 50% OFF</a></p>
					<p style="margin: 0px; padding: 0px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #666; text-decoration: none; font-size: 12px;">PLUM TREE - FOOTWEAR</a></p>
				</td>
			  <tr>
				<td width="192" bgcolor="#fff" align="right">
					<a href="http://styletag.com/user/sign_in" target="_blank">
						<img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/change_sale.jpg" alt="change" width="172" height="172" />
					</a>
					<p style="margin: 0px; padding-top: 5px; padding-bottom: 5px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #c91924; text-decoration: none; font-size: 12px;">UPTO 40% OFF</a></p>
					<p style="margin: 0px; padding: 0px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #666; text-decoration: none; font-size: 12px;">CHANGE - APPAREL</a></p>
				</td>
				
				<td width="192" bgcolor="#fff" align="right">
					<a href="http://styletag.com/user/sign_in" target="_blank">
						<img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/cheap_sex_sale.jpg" alt="cheap sex" width="172" height="172" />
					</a>
					<p style="margin: 0px; padding-top: 5px; padding-bottom: 5px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #c91924; text-decoration: none; font-size: 12px;">STARTING FROM RS. 350/-</a></p>
					<p style="margin: 0px; padding: 0px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #666; text-decoration: none; font-size: 12px;">CHEAP SEX - KNICK KNACKS</a></p>
				</td>
				
				<td width="192" bgcolor="#fff" align="right">
					<a href="http://styletag.com/user/sign_in" target="_blank">
						<img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/dhruva_sale.jpg" alt="dhruva" width="172" height="172" />
					</a>
					<p style="margin: 0px; padding-top: 5px; padding-bottom: 5px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #c91924; text-decoration: none; font-size: 12px;">FLAT 35% OFF</a></p>
					<p style="margin: 0px; padding: 0px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #666; text-decoration: none; font-size: 12px;">DHRUVA - BAGS</a></p>
				</td>
			  </tr>
			  
			  <tr>
				<td width="192" bgcolor="#fff" align="right">
					<a href="http://styletag.com/user/sign_in" target="_blank">
						<img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/Calvin_Klein_sale.jpg" alt="calvin klein" width="172" height="172" />
					</a>
					<p style="margin: 0px; padding-top: 5px; padding-bottom: 5px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #c91924; text-decoration: none; font-size: 12px;">UPTO 33% OFF</a></p>
					<p style="margin: 0px; padding: 0px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #666; text-decoration: none; font-size: 12px;">CALVIN KLEIN - PERFUME</a></p>
				</td>
				<td width="192" bgcolor="#fff" align="right">
					<a href="http://styletag.com/user/sign_in" target="_blank">
						<img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/abhijeet_khanna_sale_1.jpg" alt="abhijeet khanna" width="172" height="172" />
					</a>
					<p style="margin: 0px; padding-top: 5px; padding-bottom: 5px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #c91924; text-decoration: none; font-size: 12px;">FLAT 30% OFF</a></p>
					<p style="margin: 0px; padding: 0px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #666; text-decoration: none; font-size: 12px;">ABHIJEET KHANNA - APPAREL</a></p>
				</td>
				<td width="192" bgcolor="#fff" align="right">
					<a href="http://styletag.com/user/sign_in" target="_blank">
						<img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/paco_rabanne_kenzo_sale_1.jpg" alt="paco rabanne kenzo" width="172" height="172" />
					</a>
					<p style="margin: 0px; padding-top: 5px; padding-bottom: 5px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #c91924; text-decoration: none; font-size: 12px;">UPTO 40% OFF</a></p>
					<p style="margin: 0px; padding: 0px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #666; text-decoration: none; font-size: 12px;">PACO RABANNE KENZO</a></p>
				</td>
			  </tr>
			  <tr>
				<td width="192" bgcolor="#fff" align="right">
					<a href="http://styletag.com/user/sign_in" target="_blank">
						<img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/you_sale_1.jpg" alt="you" width="172" height="172" />
					</a>
					<p style="margin: 0px; padding-top: 5px; padding-bottom: 5px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #c91924; text-decoration: none; font-size: 12px;">UPTO 45% OFF</a></p>
					<p style="margin: 0px; padding: 0px; text-align: right;"><a href="http://styletag.com/user/sign_in" target="_blank" style="color: #666; text-decoration: none; font-size: 12px;">YOU - APPAREL</a></p>
				</td>
			  </tr>
			  <tr align="center">
				<td bgcolor="#fff" colspan="3">
					<a href="http://styletag.com/user/sign_in" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/upcoming-banners-12dec.png" alt="upcoming" width="556" height="264" /></a>
				</td>
			  </tr>
			  
			</tbody>
		  </table>
		</td>
	   </tr>
	   <tr>
		 <td colspan="3">
			<table width="580" border="0" cellpadding="10" cellspacing="0">
				<tbody>
					<tr>
						<td width="192">&nbsp;</td>
						<td width="192">&nbsp;</td>
						<td width="192">
							<table width="172" border="0" cellpadding="10" cellspacing="0">
								<tbody>
								 <tr>
									<td width="57">&nbsp;</td>
						           <td width="57" align="right"><a href="http://facebook.com/styletag" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/facebook-icon.png" alt="fb" height="40" width="40" /></a></td>
						           <td width="57" align="left"><a href="http://twitter.com/styletagdotcom" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/ffolio-mailer/mineral/twitter-icon.png" alt="tw" height="40" width="40" /></a></td>
								</tr>
							   </tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		  </td>
		</tr>
		<tr >
			<td colspan="3">
				<hr />
				<p align="center" style="font-family: Arial, sans-serif; font-size:10px; color:#666; margin:0px; padding:0px">
				This e-mail has been sent to you for exclusive access to <a href="http://styletag.com/user/sign_in" style="color: #993333; text-decoration: none;" target="_blank">styletag.com</a>.	
				</p>
				<p align="center" style="font-family: Arial, sans-serif; font-size:10px; color:#666; margin:0px; padding:0px">
				Incase of any questions write to <a href="mailto:care@styletag.com" style="color: #993333; text-decoration: none;" target="_blank">care@styletag.com</a>.
				</p>
			</td>
	    </tr>
	   </tbody>
	  </table>
	</td>
   </tr>
   <tr>
   <td colspan="3">
   <p align="left" style="font-family:Arial, sans-serif;font-size:10px;color:#ccc;margin:0px;padding:0px">
   Styletag is an exclusive online shopping club where members discover today's top luxury designer labels and brands at up to 70% off retail prices. All products are hand-selected by us and provided exclusively to our members through limited-time events. Each event starts at 11.00 am and lasts for a brief window of time. </p>

   <br>
<p align="left" style="font-family:Arial, sans-serif;font-size:10px;color:#ccc;margin:0px;padding:0px">
We guarantee 100% authenticity of every product that we sell. All of our merchandise comes from either: the manufacturer, a licensed agent, retailer, or importer. Due to the exclusive nature of the merchandise in our events, quantities are often limited and certain products may only be available in a select range of sizes. To take advantage of the broadest possible selection, we recommend that you visit the events as soon as they start and shop quickly.
</p>
<br>
<p align="left" style="font-family:Arial, sans-serif;font-size:10px;color:#ccc;margin:0px;padding:0px">
Happy shopping<br>
TEAM STYLETAG
   </p>
   </td>
   </tr>
  </tbody>
</table>
